/*Letra grande*/

:root{
    --medidagrande: 2em;

    --colorheader: #153847;
    --colorfondo: #d8eef5;
    --colorhover: #0056b3;
    --colorsuave: #f5f5f5;
    --colormedio: #86c4d6;
}

body {
    font-size: var(--medidagrande);
}

table {
    font-size: 1em;
}