@import url(style.css);

/*Poco contraste y letra grande*/

:root{
    --colorheader: #153847;
    --colorfondo: #d8eef5;
    --colorhover: #0056b3;
    --colorsuave: #f5f5f5;
    --colormedio: #86c4d6;
}

body {
    font-size: 2em;
    color: var(--colorsuave);
}

table {
    font-size: 1em;
}


header{
    background-color: var(--colormedio);
}

.inicio{
    background-color: var(--colorfondo);
}

.registrarse{
    background-color: var(--colorfondo);
}

.advanced-search-link {
    background-color: var(--colorfondo);
}

a, a:hover,  a:focus, a:link{
    color: var(--colorsuave);
}

#registro form label {
    color: #ffffff;
}

#registro form input[type="submit"] {
    background-color: var(--colorfondo);
    color: #ffffff;
}

figcaption {
    color: #ffffff;
}

.bavanzada label {
    color: var(--colorfondo);
}

.busbuton {
    color: var(--colorfondo);
    background-color: var(--colormedio);
}

.mensaje label {
    color: var(--colorfondo);
}

.mensaje input[type="submit"] {
    background-color: var(--colormedio);
    color: var(--colorfondo);
}
.mensaje select, .mensaje textarea {
    color: var(--colormedio);
}

.bavanzada select, .bavanzada input[type="text"], .bavanzada input[type="number"], .bavanzada input[type="date"] {
    color: var(--colormedio);
}

footer {
    color: var(--colorheader);
}

.declaracion{
    color: var(--colorheader);
}

.folleto {
    color: var(--colormedio);
}

.folleto label {
    color: var(--colormedio);
}

.folleto select, .folleto input, .folleto textarea {
    color: var(--colormedio);
}

.folleto input[type="submit"] {
    background-color: var(--colormedio);
}