@import url(style.css);

body {
    background-color: var(--colorheader);
    color: var(--colorsuave);

}

figcaption {
    color: var(--colorfondo);
}

header{
    background-color: var(--colormedio);
}


.inicio{
    background-color: var(--colorfondo);
}

.registrarse{
    background-color: var(--colorfondo);
}

.advanced-search-link {
    background-color: var(--colorfondo);
}

h1 {
    color: var(--colorheader);
}

h1 {
    color: var(--colorsuave);
}

.bavanzada form {
    background-color: var(--colormedio);
}

.aviso {
    background-color: var(--colormedio);
}

figure {
    background-color: var(--colormedio);
}

figcaption {
    color: #000;
}

.mensaje {
    background-color: var(--colormedio);
}

.folleto {
    background-color: var(--colormedio);
}

table {
    color: var(--colorheader);
}
