@import url(style.css);

body {
    color: var(--colorsuave);
}

header{
    background-color: var(--colormedio);
}

.inicio{
    background-color: var(--colorfondo);
}

.registrarse{
    background-color: var(--colorfondo);
}

.advanced-search-link {
    background-color: var(--colorfondo);
}

a, a:hover, a:visited, a:focus, a:link{
    color: var(--colorsuave);
}

#registro form label {
    color: #ffffff;
}

#registro form input[type="submit"] {
    background-color: var(--colorfondo);
    color: #ffffff;
}

figcaption {
    color: #ffffff;
}

.bavanzada label {
    color: var(--colorfondo);
}

.busbuton {
    color: var(--colorfondo);
    background-color: var(--colormedio);
}

.mensaje label {
    color: var(--colorfondo);
}

.mensaje input[type="submit"] {
    background-color: var(--colormedio);
    color: var(--colorfondo);
}
.mensaje select, .mensaje textarea {
    color: var(--colormedio);
}

.bavanzada select, .bavanzada input[type="text"], .bavanzada input[type="number"], .bavanzada input[type="date"] {
    color: var(--colormedio);
}

footer {
    color: var(--colorheader);
}

.folleto {
    color: var(--colormedio);
}

.folleto label {
    color: var(--colormedio);
}

.folleto select, .folleto input, .folleto textarea {
    color: var(--colormedio);
}

.folleto input[type="submit"] {
    background-color: var(--colormedio);
}